body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#image-container {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}

#jude-image {
    width: 100px;  /* Adjust size as needed */
    height: auto;
}
